:root {
    --text-color: #fff
}

body {
    background-image: url("../style/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    color: var(--text-color);
    border-radius: 10px;
    height: 15px;
    width: 45px;
}